[Builtin Hooks]
bpfmt = true
google_java_format = true
ktfmt = true
xmllint = true

[Builtin Hooks Options]
ktfmt = --kotlinlang-style

[Hook Scripts]
# checkstyle includes Android specific checks like AOSP licence header as well as java style checks.
checkstyle_hook = ${REPO_ROOT}/prebuilts/checkstyle/checkstyle.py --sha ${PREUPLOAD_COMMIT}
ktlint_hook = ${REPO_ROOT}/prebuilts/ktlint/ktlint.py -f ${PREUPLOAD_FILES}

